form{
    border: 3px dotted coral;
    border-radius: 15px;
}
nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    overflow: hidden;
    margin: 4px;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
    float: left;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    height: fit-content;
    
}
nav a:hover{
    background-color: gray;
    color:greenyellow;
    transform: scale(1.08);
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    background-color: coral;
    text-align: center;
    border: 6px;
    border-radius: 10px;
    height: 60px;
    padding-top: 25px;
    margin-top: 18px;
}

.data{
    padding: 5px;
    background-color: rgba(75, 181, 75, 0.833);
    width: fit-content;
    font-size: small;
    border-radius: 12px;
}

.notice{
    font-style: italic;
    padding: 5px;
    background-color: rgba(177, 0, 0, 0.658);
    width: fit-content;
    font-size: small;
    border-radius: 12px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
.options{
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(113, 175, 228);
    border-radius: 12px;
    margin: 8px;
    text-indent: 2px;
    font-style: italic;
}
/*to give hover effect to the input fields*/
input[type="text"]:hover{
    background-color: rgba(103, 54, 92, 0.218);
    transform: scale(1.02);
}
input[type="email"]:hover{
    background-color: rgba(103, 54, 92, 0.218);
    transform: scale(1.02);
}
input[type="password"]:hover{
    background-color: rgba(103, 54, 92, 0.218);
    transform: scale(1.02);
}
input[type="date"]:hover{
    background-color: rgba(103, 54, 92, 0.218);
    transform: scale(1.02);
}
input[type="number"]:hover{
    background-color: rgba(103, 54, 92, 0.218);
    transform: scale(1.02);
}

/*lets style the sign up button*/
input[type="submit"]{
    background-color: rgba(57, 180, 57, 0.692);
    padding: 10px;
    border: none;
    width: 80%;
    margin-left: 69px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 9px;

}
input[type="submit"]:hover{
    background-color: rgba(219, 92, 18, 0.84);
    transform:scale(1.05);
}

/*below is the code for password instruction*/
.fs{
    font-size: 12px;
    text-indent: 80px;
    padding-top: 0%;
}

/*styling the p elements present in the form*/
p{
    font-family: 'Chakra Petch', sans-serif;
}

/*moving the entire section to center*/
.big{
    
    padding-top: 35px;
    
    
}

input[type="radio"]:hover{
    background-color: rgba(219, 92, 18, 0.84);
    transform:scale(1.05);

}


/*styling the select tab for known programming languages*/
.select{
    font-size: 11px;
    font-family:'Chakra Petch', sans-serif;
    padding: 7px 6px 7px 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position:relative;
    
}

.select:hover{
    transform: scale(1.025);
    background-color: rgba(103, 54, 92, 0.218);
}
/*for disclaimer*/
.trms{
    text-decoration: underline;
    padding: 25px;
    border: 1px dotted rgba(255, 0, 0, 0.418) ;
    width: fit-content;
    border-radius: 200px;
    background-color: rgba(255, 0, 0, 0.088)
}
/*view link is decorated*/   
.view:hover{
    color: orangered; 
}

/*reset button*/
.reset{
    border: none;
    background-color: red;
    width: fit-content;
    border-radius: 45px;
    height: 15%;
    margin-top: 40px;
    margin-left: 15px;
}
.reset:hover{
    background-color: rgba(255, 0, 0, 0.612);
    transform: scale(1.09);
}

/*footer styled*/
.ftr a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.ftr a:hover{
    color: blue
}

.imeg{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}


